
.heading button{
    float: right;
    border: 1px solid white;
}
.heading
{
    width: 100%;
    text-align: left;
}
.heading h3{
display: inline;
}
.heading button{
    float: 
    right;
    }


.copy_right_footer{
    position: fixed;
    color: rgb(238, 234, 231);
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 36, 36);
    line-height: 3;
    text-align: center;

}


.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: grey;
   color:white;
   line-height: 2;
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }
 
.instruction{
    float:right;
    border:1px solid white;
    font-size:22px;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: bold;
}
